@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  background-color: black;
  color: white;
}


.navcon{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  padding: 20px;
  background-color: #000000;
}

.navitem{
  padding: 10px;
  font-weight: 600;
}
.con{
  display: flex;
  gap: 20px;
}


.Maincon{
  cursor: default;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin:50px
}

.profileImg{
  width: 150px;
  height: 150px;
  border-radius: 100%;
  object-fit: cover;
}

.Title{
  font-size: 2.5rem;
  font-weight: bold;
} 

.logo{
  height: 100px;
  width: 170px;
   margin: -25px 0 -25px 0; /* Adjust positioning */
}