@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@keyframes gradient {

  0%,
  100% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }
}

.animate-gradient {
  background-size: 200% 200%;
  animation: gradient 3s ease infinite;
}

@theme {
  --font-montserrat: 'Montserrat', sans-serif;
  --font-archivo: 'Archivo Black', sans-serif;
  --color-accent: #ff5733;
}

@layer base {
  body {
    @apply bg-black text-white font-montserrat antialiased;
  }
}

/* Custom Utilities if needed */
@layer utilities {
  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-white to-gray-500;
  }
}